part=xcvu35p-fsvh2104-2L-e

[hls]
flow_target=vitis
clock=3.33ns

# Kernel source and top function
syn.file=kernel/gnn_hls.cpp
syn.top=gnn

# Testbench
tb.file=tb/gnn_test.cpp

csim.O=true
csim.clean=true
csim.profile=true
